.l-inner {
  margin: 0 auto;
  max-width: 376px;
  padding-inline: 16.5px;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (min-width: 768px) {
  .l-inner {
    max-width: 680px;
    padding-inline: 20px;
    position: relative;
  }
}
@media (min-width: 1024px) {
  .l-inner {
    padding-inline: 40px;
    max-width: 1106px;
  }
}

.l-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 6%;
}
@media (min-width: 768px) {
  .l-title-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 22%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 25%;
    top: 60px;
  }
}

.l-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .l-contents {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}